In [79]:
import pandas as pd

# amazon

In [80]:
amazon_df = pd.read_csv("amazon_backup.csv",header=None)
amazon_df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,0,3%,3%,3%,3%,3%,"['3%', '3%', '3%', '3%', '3%']",4.5,6383,1984,https://www.amazon.com/1984-Signet-Classics-Ge...
1,1,3%,3%,3%,3%,3%,"['3%', '3%', '3%', '3%', '3%']",4.5,2216,A Brief History of Time,https://www.amazon.com/Brief-History-Time-Step...
2,2,16%,16%,16%,16%,16%,"['16%', '16%', '16%', '16%', '16%']",3.2,1103,A Heartbreaking Work of Staggering Genius,https://www.amazon.com/Heartbreaking-Work-Stag...
3,3,1%,1%,1%,1%,1%,"['1%', '1%', '1%', '1%', '1%']",4.6,1779,A Long Way Gone: Memoirs of a Boy Soldier,https://www.amazon.com/Long-Way-Gone-Memoirs-S...
4,4,6%,6%,6%,6%,6%,"['6%', '6%', '6%', '6%', '6%']",4.4,1756,"The Bad Beginning: Or, Orphans!",https://www.amazon.com/Bad-Beginning-Orphans-U...

In [81]:
for j in range(1,6):
    for i in range(len(amazon_df)):
        amazon_df.loc[i,j] = amazon_df.loc[i,j].split("%")[0]

del(amazon_df[0])
del(amazon_df[6])
amazon_df.columns = ["5_star","4_star", "3_star", "2_star", "1_star", "overall_rating", "total_rating_number", "title", "url"]
amazon_df.head()

,5_star,4_star,3_star,2_star,1_star,overall_rating,total_rating_number,title,url
0,3,3,3,3,3,4.5,6383,1984,https://www.amazon.com/1984-Signet-Classics-Ge...
1,3,3,3,3,3,4.5,2216,A Brief History of Time,https://www.amazon.com/Brief-History-Time-Step...
2,16,16,16,16,16,3.2,1103,A Heartbreaking Work of Staggering Genius,https://www.amazon.com/Heartbreaking-Work-Stag...
3,1,1,1,1,1,4.6,1779,A Long Way Gone: Memoirs of a Boy Soldier,https://www.amazon.com/Long-Way-Gone-Memoirs-S...
4,6,6,6,6,6,4.4,1756,"The Bad Beginning: Or, Orphans!",https://www.amazon.com/Bad-Beginning-Orphans-U...

# goodreads

In [85]:
goodreads_df = pd.read_csv("goodreads_backup.csv", header=None)
goodreads_df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,0,2,4,15,33,45,4.16,"2,352,493",40961427,1984,https://www.amazon.com/1984-Signet-Classics-Ge...
1,1,1,3,16,38,41,4.15,"212,389",3869,A Brief History of Time,https://www.amazon.com/Brief-History-Time-Step...
2,2,5,10,23,33,27,3.68,"156,244",4953,A Heartbreaking Work of Staggering Genius,https://www.amazon.com/Heartbreaking-Work-Stag...
3,3,1,3,16,37,41,4.15,"138,691",43015,A Long Way Gone: Memoirs of a Boy Soldier,https://www.amazon.com/Long-Way-Gone-Memoirs-S...
4,4,2,6,23,34,33,3.91,"322,440",78411,"The Bad Beginning: Or, Orphans!",https://www.amazon.com/Bad-Beginning-Orphans-U...

In [86]:
for i in range(len(amazon_df)):
    goodreads_df.loc[i,7] = goodreads_df.loc[i,7].replace(",","")
        
del(goodreads_df[0])

goodreads_df.columns = range(goodreads_df.shape[1])
goodreads_df.columns = ["5_star","4_star", "3_star", "2_star", "1_star", "overall_rating", "total_rating_number", "goodreads_id", "title", "url"]
goodreads_df.head()

,5_star,4_star,3_star,2_star,1_star,overall_rating,total_rating_number,goodreads_id,title,url
0,2,4,15,33,45,4.16,2352493,40961427,1984,https://www.amazon.com/1984-Signet-Classics-Ge...
1,1,3,16,38,41,4.15,212389,3869,A Brief History of Time,https://www.amazon.com/Brief-History-Time-Step...
2,5,10,23,33,27,3.68,156244,4953,A Heartbreaking Work of Staggering Genius,https://www.amazon.com/Heartbreaking-Work-Stag...
3,1,3,16,37,41,4.15,138691,43015,A Long Way Gone: Memoirs of a Boy Soldier,https://www.amazon.com/Long-Way-Gone-Memoirs-S...
4,2,6,23,34,33,3.91,322440,78411,"The Bad Beginning: Or, Orphans!",https://www.amazon.com/Bad-Beginning-Orphans-U...

# join

In [104]:
amazon_df.merge(goodreads_df, on="title", how="inner", suffixes=("_a", "_g"))
df.head()

,5_star_a,4_star_a,3_star_a,2_star_a,1_star_a,overall_rating_a,total_rating_number_a,title_a,url_a,5_star_g,4_star_g,3_star_g,2_star_g,1_star_g,overall_rating_g,total_rating_number_g,goodreads_id
0,3,3,3,3,3,4.5,6383,1984,https://www.amazon.com/1984-Signet-Classics-Ge...,2,4,15,33,45,4.16,2352493,40961427
1,3,3,3,3,3,4.5,2216,A Brief History of Time,https://www.amazon.com/Brief-History-Time-Step...,1,3,16,38,41,4.15,212389,3869
2,16,16,16,16,16,3.2,1103,A Heartbreaking Work of Staggering Genius,https://www.amazon.com/Heartbreaking-Work-Stag...,5,10,23,33,27,3.68,156244,4953
3,1,1,1,1,1,4.6,1779,A Long Way Gone: Memoirs of a Boy Soldier,https://www.amazon.com/Long-Way-Gone-Memoirs-S...,1,3,16,37,41,4.15,138691,43015
4,6,6,6,6,6,4.4,1756,"The Bad Beginning: Or, Orphans!",https://www.amazon.com/Bad-Beginning-Orphans-U...,2,6,23,34,33,3.91,322440,78411

In [110]:
header = df.columns.tolist()
df.to_csv("df.csv", columns=header, index=False)

In [109]:
len(df)

98